<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="codigo">Codigo</label>
        <input
          type="text"
          class="form-control"
          id="codigo"
          required
          [(ngModel)]="pais.codigo"
          name="codigo"
        />
      </div>

      <div class="form-group">
        <label for="sigla">Sigla</label>
        <input
          type="text"
          class="form-control"
          id="sigla"
          required
          [(ngModel)]="pais.sigla"
          name="sigla"
        />
      </div>
      <div class="form-group">
        <label for="nome">Nome do Pais</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          required
          [(ngModel)]="pais.nome"
          name="nome"
        />
      </div>
      <div class="form-group">
        <label for="ativo">Ativo</label>
        <input
          type="text"
          class="form-control"
          id="ativo"
          required
          [(ngModel)]="pais.ativo"
          name="ativo"
        />
      </div>

       <button (click)="savePais()" class="btn btn-success">Submit</button>
     </div>

    <div *ngIf="submitted">
        <h4> A entidade Pais foi salva com sucesso!</h4>
        <button class="btn btn-success" (click)="newPais()">Add</button>
      </div>
    </div>
  </div>